---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Stats preview card component">
  <main class="mx-6 my-[5.5rem] lg:mx-[10.31rem] lg:my-[11.06rem]">
    <section class="w-[20.4375rem] h-[48.75rem] rounded-lg"></section>
  </main>
</Layout>

<style></style>
