---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Frontend Mentor | Stats preview card component",
  description = "Frontend Mentor | Stats preview card component",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts "Lexend Deca" & "Inter"-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    hanging-punctuation: first last;
  }

  body {
    background-color: #0a0c1c;
    font-size: 0.938rem;
    min-height: 100svh;
    max-width: 1440px;
  }

  img,
  picture,
  svg,
  video {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* 75ch not higher than that */
  p {
    max-width: 75ch;
    text-wrap: pretty;
  }

  @media (prefers-reduced-motion: no-preference) {
    :has(:target) {
      scroll-behavior: smooth;
      scroll-padding-top: 3rem;
    }
  }
</style>
